[package]
name = "libfuzzer-sys"
version = "0.1.0"
authors = ["The cargo-fuzz Project Developers"]
repository = "https://github.com/rust-fuzz/libfuzzer-sys"
license = "MIT/Apache-2.0/NCSA"
edition = "2018"

# cargo-fuzz puts this in a crate subdirectory,
# which causes problems if the crate uses workspaces.
# Create a useless local workspace to break out of this
[workspace]
members = ["."]

[dependencies]
# arbitrary = "0.3"
arbitrary = { git = "https://github.com/rust-fuzz/arbitrary.git", rev = "8fa099d" }

[build-dependencies]
cc = "1.0"

[features]
arbitrary-derive = ["arbitrary/derive"]
