name: Rust

on: [push, pull_request]

jobs:
  check_libfuzzer_checkout:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Re-vendor libfuzzer
      run: ./update-libfuzzer.sh
    - name: Check that nothing changed
      run: git diff --exit-code

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install nightly Rust
      run: |
        rustup toolchain install nightly
        rustup default nightly

    - name: Check rustfmt
      run: |
        rustup component add rustfmt --toolchain stable
        cargo +stable fmt --all -- --check

    - run: cargo install cargo-fuzz

    - name: Run tests
      run: ./ci/script.sh
  verify_package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          [
            ubuntu-latest,
            windows-latest,
            macos-15,
            macos-15-intel,
            ubuntu-24.04-arm,
            windows-11-arm,
          ]
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        run: |
          rustup toolchain install stable
          rustup default stable
      - name: Verify that the package includes all necessary files
        run: cargo +stable package --all-features
